<html>
<body>
<h1> AIML6m  </h1>




welcome to html. 
<hr>
Data received from Python 
<br>
 
 {{ all_data }}
 
<br>  
<ul>
{% for item in all_data %}
    <li>{{item.name}}</li>
    <li>{{item.place}}</li>
    <li>{{item.mob}}</li>
{% endfor %}
</ul>

<br>
<table border=1 bgcolor=cyan>
<tr><td> zone <td> sales    </tr>
<tr><td> North <td> 1000    </tr>
<tr><td> South <td> 783    </tr>
</table>

<br>

<table border=1 bgcolor=cyan>
<tr><td> Name <td> <input type="enter name" name="txtname">    </tr>
<tr><td> Age <td> <input type="enter age" name="txtage">    </tr>
 
</table>



<hr> horizontal ruler- 
You can control the size of a window with the bar in between the windows (draggable gutter).

The icons are explained in the table below:
<br><img src="vd.jpg" >

</body>
</html>
